.show-book-comp i{
  padding: 0 1rem 0 0;
}
.new-book-comp i{
  padding: 0 1rem 0 0;
}
.edit-book-comp i{
  padding: 0 1rem 0 0;
}

.sub-nav-bar{
  border-bottom: solid 1px lightgrey;
  height: 2.2rem;
}

.sub-nav-bar i{
  font-size: 1.5rem;
}

.sub-nav-bar .sec-1{

}

.sub-nav-bar .sec-2{

}

.book-comment{

}

.react-pdf__Page__canvas{
  width: 100%;
  height: 100%;
}
